fastapi==0.72.0
uvicorn==0.17.6
loguru==0.5.3
fastapi-crudrouter==0.8.4
alembic==1.7.5
SQLAlchemy-Utils==0.38.2
SQLAlchemy[asyncio]==1.4.31
GeoAlchemy2==0.10.2
psycopg2==2.9.3
python-dotenv==0.19.2
gdal==3.4.1
geoserver-rest==2.1.4
asyncpg==0.25.0
fastapi-users[sqlalchemy2]==9.2.4
geopandas==0.10.2
docker==5.0.3
aiofiles==0.8.0
httpx==0.22.0